.footer
    .container
        .row.justify-content-center
            .col-md-6.my-4
                ul.socials.list-unstyle.inline-list.d-flex.justify-content-center.px-0
                    li.list-inline-item.text-secondary
                        a(href="https://www.facebook.com/Ens.bid.tw/")
                            i.fa.fa-fw.fa-facebook
                    li.list-inline-item.text-secondary
                        a(href="#")
                            i.fa.fa-fw.fa-twitter
                    li.list-inline-item.text-secondary
                        a(href="https://github.com/ens-bid/")
                            i.fa.fa-fw.fa-github
                    li.list-inline-item.text-secondary
                        a(href="#")
                            i.fa.fa-fw.fa-envelope-o
                    li.list-inline-item.text-secondary
                        a(href="#")
                            i.fa.fa-fw.fa-telegram
        .row 
            .col
                 p.text-center.text-white
                    | © Copyright 2017 ENS.BID - All Rights Reserved