doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='We are a group of people who love block chain, hoping to promote the concept of block chain, so that wealth distribution can be more fair and free, we are also building our own projec')
        meta(name='author', content='ens.bid')
        meta(name='keywords', content='ico,eth,block,bitcoin,Ether,比特币,快播,区块链')
        meta(name='og:image', content='img/preview.png')
        title ENS.BID
        link(rel='Shortcut Icon', type='image/x-icon', href='./img/x-icon.png')
        link(rel='stylesheet', href='./css/bootstrap/bootstrap-reboot.css')
        link(rel='stylesheet', href='./css/bootstrap/bootstrap-grid.css')
        link(rel='stylesheet', href='./css/bootstrap/bootstrap.css')
        link(rel='stylesheet', href='./css/font-awesome.min.css')
        link(rel='stylesheet', href='./css/style.css')

        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-104379550-1', 'auto');
            ga('require', 'linkid', 'linkid.js');
            ga('require', 'displayfeatures');
            ga('send', 'pageview');
    body
        block content
        block scripts
            script(src="./js/jquery.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous")
            script(src="./js/bootstrap.js")
            script(src="./js/particles.min.js")
            script(src="./js/app.js")


            